# Don't track content of these folders
react-chat/node_modules/
BERT-NER/model/
BERT-NER/model_spanbert_trained/
BERT-SQuAD/model/
BERT-SQuAD/model_spanbert_trained/
BERT-SQuAD/__pycache__/
BERT-NER/__pycache__/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.vscode/settings.json

